[user]
  name = Jan Zikan
  email = jan.zikan@gmail.com
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  amend = commit --amend --reuse-message=HEAD
  br = branch
  brc = for-each-ref --sort=-committerdate --format="%(color:blue)%(authordate:relative)%09%(color:red)%(authorname)%09%(color:white)%(color:bold)%(refname:short)" refs/remotes
  brlc = for-each-ref --sort=-committerdate --format="%(color:blue)%(authordate:relative)%09%(color:red)%(authorname)%09%(color:white)%(color:bold)%(refname:short)" refs/heads
  co = checkout
  df = diff
  rhi = reset --hard HEAD~1
  rsi = reset --soft HEAD~1
  uncommit = reset --soft HEAD~1
  unstage = reset HEAD
  lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  check-whitespace = !git diff-tree --check $(git hash-object -t tree /dev/null) HEAD
  created = log --follow --diff-filter=A
  root = rev-parse --show-toplevel
  aliases = !git config -l | grep ^alias | cut -c 7- | sort

[branch]
  autosetuprebase = always
