snippet pry
	require 'pry'; binding.pry

snippet !ruby
	#!/usr/bin/env ruby

snippet utf
	# encoding: utf-8

snippet if
	if
	end

snippet ife
	if
	else
	end

snippet file
	__FILE__

snippet init
	def initialize()
	end

snippet bbe
	begin

	end

snippet bber
	begin

	rescue Exception => e

	end

snippet bbere
	begin

	rescue Exception => e

	ensure

	end
